asgiref==3.4.1
Django==3.2.7
django-filter==2.4.0
djangorestframework==3.12.4
drf-yasg==1.20.0
graphene==2.1.9
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
Pillow==8.2.0
requests==2.26.0